* {
    margin: 0;
    padding: 0;
    font-family: Ubuntu;
    font-size: 15px; font-weight: 500;
}

.hidden {
    display: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
    background-image: url("../bookmark/sus3.png");
    background-repeat: no-repeat;
    background-size:cover;
    width: 100vw;
    height: 100vh;
}

#signup-section{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    background-color: transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#upload-head{
    display: flex;
    position: absolute;
    top: 0;
    margin-top: 20px;
    font-size: 35px;
}

#info-sse{
    display: flex;
    position: absolute;
    bottom: 0;
    margin-bottom: 2%;
    background-color: transparent;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}

#add-button{
    margin: 10px;
    padding: 10px;
    background-color: transparent;
    border:none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
}

#submitButton{
    margin: 10px;
    padding: 10px;
    background-color: transparent;
    border:none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
}

#form-container{
    position: absolute;
    top:40%;
    left: 0;
    justify-content: center;
    width: 300px;
    padding-left: 50px;
    overflow: auto;
    overflow-x: hidden;
    max-height: 150px;

    &::-webkit-scrollbar{
        width: 1rem;
      }
      
      &::-webkit-scrollbar-track{
        background: hsl(0, 96%, 67%);
        border-radius: 100vw;
      }
      
      &::-webkit-scrollbar-thumb{
        background: hsl(0, 87%, 43%);
        border-radius: 100vw;
      
      }
}

input[id^="merge_upload_"]{
    background-color: transparent;
}

#merge-image{
    height: 80px;
    margin-right: 50px;
    position: absolute;
    right: 0;
    animation: animate 2s ease infinite alternate;
}
@keyframes animate{
    to{
        transform: translateY(20px);
    }
}
