*{
  margin: 0;padding: 0;
  font-family: Ubuntu;
  font-size: 15px;
  font-weight: 500;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
  background-size:cover;
  background-image: url("../bookmark/sus3.png");
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.signupSection{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  background-color: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#heading{
  width: 50%;
  height: 30%;
}

#card{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.card{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 10px;
  border: none;
  border-radius: 50px;
}

.card:hover{
  background-color: orange;
  color: white;
}

.image{
  display: flex;
  position: absolute;
  left: 0;
  margin-left: 20px;
  top: 0;
}