* {
  font-family: Ubuntu;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #111;
  background-image: url("sus3.png");
  background-size: cover;
  background-repeat: no-repeat;
}
  
.signupSection {
  background-size:cover;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  color: white;
  height: 80%;
  width: 95%;
  box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, 0.5);
}


.signupForm {
  width: 100%;
}


.signupForm p {
  font-weight: 300;
}

.signupForm:focus + .info {
  width: 45%;
  background: rgba(20, 20, 20, 0.8);
  padding: 10px 0;
  border-right: 5px solid rgba(30, 30, 30, 0.8);
  display: none;
}

.inputFields {
  padding: 10px;
  border: 1px solid rgb(255, 202, 149);
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(20, 20, 20, 0.2);
  color: white;
  outline: none;
}

.inputFields1 {
  margin: 15px 0;
  border: 1px solid rgb(255, 216, 110);
  background: rgba(20, 20, 20, 0.2);
  color: white;
  outline: none;
}

.join-btn {
  background: white;
  color: black;
  border: 1px solid white;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

#form_bookmark{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
}

#pMessage{
  display: flex;
  position: absolute;
  width: fit-content;
  bottom: 0;
  margin-bottom: 1.5%;
  background-color: transparent;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}

#uploadButton {
  border: 1px solid white;
  background: transparent;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  padding: 15px;
  cursor: pointer;
  display: none;
}

#sendInput {
  background: transparent;
  color: white;
  position: absolute;
  bottom: 0;right: 0;
  margin-bottom: 1.5%;
  margin-right: 3%;
  cursor: grabbing;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: none;
  border: 1px solid white;
}


#ePreviewPdf {
  width: 40%;
  height: 100%;
  display: none;
  zoom: 100%;
}

div[id^="bmno"] {
  margin: 5px;
  border: 0px solid #ffbb62;
  position: relative;
  color: white;
  cursor: pointer;
}

#bmInputContainer {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: flex-start;  
  overflow-y:initial;
  overflow-x: hidden;
  width: 100%;
  height: 70%;
  padding: 10px;
  margin-top: 0;
}
